h1 {
  font-family:monaco;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}
h2 {
  font-family:monaco;
  font-size: 20px;
  font-weight: bold;
  color: #72495F;
}
h3 {
    font-family:monaco;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
p {
  font-family:monaco;
  font-size: 12px;
  color: #333333;
}
a {
  color: #72495F;
}
.section1 p {
    font-size: 11px;
}
.section2 p {
    font-size: 11px;
}
.section3 p {
    font-size: 11px;
}
@media (max-width: 800px) {
    #Capa_1 {
        visibility: hidden;
    }
    #learn {
      visibility: hidden;
    }
}
#Capa_1 {
    width:500px;
    position: absolute;
    z-index: -10;
    top:50%;
    left: 5%;
    opacity: 60%;
    animation: spin infinite 7s 
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    100% {
      transform: rotate(360deg);
      transform-origin: center;
      transform-box: fill-box;
    }
  }
.btn {
    background-color: transparent;
    color: #333333;
    font-family: monaco;
    font-size: 12px;
    color: #333333;
    margin-bottom: 1vw;
    border: transparent;
}
img:hover {
    cursor: pointer;
}
