h2 {
  font-family: Verdana;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
}
.name {
  font-family:verdana;
  font-size: 40px;
  letter-spacing: 5px;
  color: black;
}
h3 {
  font-family:verdana;
  font-size: 15px;
  letter-spacing: 5px;
  color: black;
}
h4 {
  font-family:verdana;
  font-size: 20px;
  letter-spacing: 5px;
  color: black;
}
h5 {
  font-family:verdana;
  font-size: 20px;
  letter-spacing: 5px;
  color: black;
}
p {
  font-family: Verdana;
  font-size: 12px;
  color: black;
}
#header {
  position: fixed;
}
.header p{
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
.section1 p {
    font-size: 11px;
}
.section2 p {
    font-size: 11px;
}
.section3 p {
    font-size: 11px;
}
.btn {
    background-color: transparent;
    color: #333333;
    font-family: monaco;
    font-size: 12px;
    color: #333333;
    margin-bottom: 1vw;
    border: transparent;
}
img:hover {
    cursor: pointer;
}
.scroll {
  overflow: auto;
  white-space: nowrap;
  margin-right: 20px;
}
.header {
  background-color: white;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  padding-left: 1%;
  padding-right:1%;
  padding-top: 1%;
}
#blog {
  padding-top: 12%;
}
#page-content {
  padding-top: 1%;
  padding-left: 1%; 
  padding-right:1%;
}
.observer {
  padding-top: 2%;
  padding-left: 1%; 
  padding-right:1%;
}
@media (min-width: 1200px) {
  #small-footer {
    display: none;
  }
  #smallClassification{
    display: none;
  }
  #launch-ig {
    display: none;
  }
}
@media (max-width: 1200px) {
  #small-footer {
    display: none;
  }
  #launch-ig {
    display: none;
  }
  #smallClassification{
    display: none;
  }
}
@media (max-width: 992px) {
  #big-name {
    display:none;
  }
  #big-footer {
    display: none;
  }
  #small-footer {
    display: inline;
  }
  #launch-ig {
    display: none;
  }
  #classificationImages {
    display:none;
  }
  #smallClassification{
    display:flex ;
  }
}
@media (max-width: 768px) {
  #big-name {
    display: none;
  }
  #big-footer {
    display: none;
  }
  #small-footer {
    display: inline;
  }
  #launch-ig {
    display: none;
  }
  #year {
    display: none;
  }
  #smallClassification{
    display:flex ;
  }
}
@media (max-width: 576px) {
  #big-name {
    display: none;
  }
  #big-footer {
    display: none;
  }
  #small-footer {
    display: inline;
  }
  #full-screen {
    display: none;
  }
  #launch-ig {
    display: inline;
  }
  #year {
    display: none;
  }
  #smallClassification{
    display:flex ;
  }
}
.modal-title {
  font-family: verdana;
  font-weight: normal;
  letter-spacing: 3px;
}
 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

button {
  font-family: Verdana;
  font-size: 14px;
  color: black;
}

.animation-opacity {
  animation-name: example;
  animation-duration: 2s;
}
@keyframes example {
  0%   {opacity: 0.2;}
  25%  {opacity: 0.4;}
  50%  {opacity: 0.6;}
  50%  {opacity: 0.8;}
  100% {opacity: 1;}
}